<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Airplanes</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>
<body>

<div class="container">

    <h3>Airplane</h3>
    <hr/>

    <form th:action="@{/}" th:object="${airplane}" method="POST">

        <input type="text" th:field="*{flightNo}" class="form-control col-4 mb-4" placeholder="Flight No" />

        <input type="text" th:field="*{timeDepature}" class="form-control col-4 mb-4" placeholder="Time Depature" />

        <input type="text" th:field="*{timeArrivel}" class="form-control col-4 mb-4" placeholder="Time Arrivel" />

        <input type="text" th:field="*{remarks}" class="form-control col-4 mb-4" placeholder="Remarks" />

        <button type="submit" class="btn btn-primary col-2">Save</button>


    </form>
    <hr/>
    <a th:href="@{/list}">Back to list</a>
</div>

</body>
</html>